{% extends 'base.html.twig' %}

{% block title %}
	User index
{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>

	<table class="table table-success table-striped">
		<thead class="text-primary">
			<tr class="text-center">
				<th>Id</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Date de naissance</th>
				<th>Téléphone</th>
				<th>E-mail</th>
				<th>Password</th>
				<th>Adresse</th>
				<th>Ville</th>
				<th>Code postale</th>
				<th>Pays</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr class="text-center">
					<td>{{ user.id }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
					<td>{{ user.phoneNumber }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.address }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.ZIPcode }}</td>
					<td>{{ user.country }}</td>
					<td>
						<a href="{{ path('user_show', {'id': user.id}) }}">
							<button class="btn btn-secondary">
								show
							</button>
						</a>

						<a href="{{ path('user_edit', {'id': user.id}) }}">
							<button class="btn btn-primary">
								Éditer
							</button>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="12">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('user_new') }}">
		<button class="btn btn-primary">
			Créer un nouveau
		</button>
	</a>
{% endblock %}
