{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>User</h1>

	<table class="table table-success table-striped">
		<tbody>
			<tr>
				<th class="text-primary">Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th class="text-primary">Nom :
				</th>
				<td>{{ user.lastName }}</td>
			</tr>
			<tr>
				<th class="text-primary">Prénom :
				</th>
				<td>{{ user.firstName }}</td>
			</tr>
			<tr>
				<th class="text-primary">Date de naissance :
				</th>
				<td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th class="text-primary">Numéro de téléphone :
				</th>
				<td>{{ user.phoneNumber }}</td>
			</tr>
			<tr>
				<th class="text-primary">E-mail</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th class="text-primary">Password</th>
				<td>{{ user.password }}</td>
			</tr>
			<tr>
				<th class="text-primary">Adresse :
				</th>
				<td>{{ user.address }}</td>
			</tr>
			<tr>
				<th class="text-primary">Ville :
				</th>
				<td>{{ user.city }}</td>
			</tr>
			<tr>
				<th class="text-primary">Code postale :
				</th>
				<td>{{ user.ZIPcode }}</td>
			</tr>
			<tr>
				<th class="text-primary">Pays :
				</th>
				<td>{{ user.country }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('user_index') }}">
		<button class="btn btn-secondary">
			Retour à la liste
		</button>
	</a>

	<a href="{{ path('user_edit', {'id': user.id}) }}">
		<button class="btn btn-warning">
			Éditer
		</button>
	</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
